.second_main {
  width: 100%;
}
.team {
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &_buttons {
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 8px solid #24a4ff67;
    transition: 0.2s all linear;
    margin-right: 5px;
    top: 4px;
    &:checked {
      border: 8px solid $blue-color;
    }
  }
  &_slider {
    margin: 10px 0;
    max-width: 1600px;
    width: 89%;
    background-color: $grey-bg;
    background-image: url(../img/Team-1.svg);
    background-size: 400px 500px;
    background-position: left;
    background-repeat: no-repeat;
    border-radius: 12px;
    &_text {
      padding: 30px 30px 30px 430px;
      color: $grey-color;
      & > a {
        color: $blue-color;
        font-size: 14px;
        font-weight: 700;
      }
      & > h2 {
        font-size: 38px;
        background: var(
          --gradient-red-text,
          linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-bottom: 24px;
      }
      & > span {
        font-size: 16px;
        padding: 6px 0;
        font-weight: 700;
      }
      & > p {
        font-size: 14px;
      }
    }
  }
}
//end

//start
.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  border-radius: 12px;
  &_containers {
    max-width: 1720px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
    border-radius: 10px;
    overflow: hidden;
  }
  &_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 100%;
    max-width: 430px;
    max-height: 120px;
    background-color: #1c4280;

    &_wannabiz {
      background-color: #143646;
    }
    &_tapgerine,
    &_orangear {
      background-color: #f48b30;
    }
    &_3dlook {
      background-color: #9e4dc3;
    }
    &_ad,
    &_infatek {
      background-color: #e2e2e4;
    }
    &_clickky {
      background-color: #c71c36;
    }
    &_eco {
      background-color: #dcf3f9;
    }
    &_citypark {
      background-color: #282240;
    }
    &_artprint {
      background-color: #1d4568;
    }
    &_ultimate {
      background-color: #000;
    }
  }
}
//footer
footer {
  width: 100%;
  background-color: $grey-bg;
}
.footer {
  display: flex;
  justify-content: center;
  &_text {
    color: $grey-color;
    font-weight: 400;
  }
  &_number {
    font-weight: 700;
    color: #46466e;
  }
  &_mail {
    color: $blue-color;
    font-weight: 700;
    transition: 100ms linear;
    &:hover {
      color: #46466e;
    }
  }
  &_container {
    padding: 30px 0;
    gap: 10px;
    border-top: $grey-color 2px solid;
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    & > div {
      & > ol {
        display: flex;
        align-items: center;
        padding: 5px;
        & > li {
          padding: 2px 10px;
        }
      }
    }
  }
}
.more {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  &_titel {
    &_container {
      max-width: 1600px;
      width: 89%;
      display: flex;
      justify-content: flex-start;
    }
    & > p {
      padding: 10px 0;
      font-size: 14px;
      color: $blue-color;
      font-weight: 700;
      text-transform: uppercase;
    }
    & > span {
      font-size: 38px;
      font-weight: 700;
      background: linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &_blocks {
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  &_block {
    max-width: 483px;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px;
    border-radius: 8px;
    background-image: url(../img/Publication-1.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 630px 330px;
    background-position-y: -100px;
    &_second {
      background-image: url(../img/Publication-2.svg);
    }
    &_full {
      background-image: url(../img/Publication-3.svg);
    }
    &_text {
      padding-top: 210px;
      & > span,
      div,
      p {
        padding: 15px 0;
      }
      & > span {
        color: $grey-color;
        font-size: 12px;
        font-weight: 700;
      }
      & > p {
        border-top: $grey-bg solid 4px;
      }
      & > div {
        color: $blue-color;
        font-weight: 700;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .team {
    &_slider {
      background-size: 520px 550px;
      background-position-x: -100px;
    }
  }
  .clients {
    padding: 0 0;
    &_containers {
      overflow: unset;
      border-radius: 0;
    }
    &_container {
      max-width: 256px;
    }
  }
  .more {
    &_block {
      max-width: 251px;
    }
    &_blocks {
      width: 89%;
    }
  }
}
@media screen and (max-width: 768px) {
  .team {
    &_slider {
      background-size: 680px 680px;
      background-position: top;
      background-repeat: no-repeat;
      background-position-y: -265px;
      border-radius: 12px;
      background-position-x: 0px;
      &_text {
        padding: 430px 30px 30px 30px;
        color: $grey-color;
      }
    }
  }
  .more {
    &_blocks {
      flex-wrap: wrap;
    }
    &_block {
      background-size: 370px 225px;
      background-position-y: 0;
      &_full {
        max-width: 100%;
        background-size: 685px 415px;
        background-position-y: -189px;
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .team {
    &_slider {
      background-size: 415px 415px;
      background-position-y: 0px;
      &_text {
        & > h2 {
          font-size: 30px;
        }
      }
    }
  }
  .clients {
    &_container {
      max-width: 100%;
      &_clickky,
      &_eco,
      &_infatek,
      &_citypark,
      &_artprint,
      &_ultimate {
        display: none;
        visibility: hidden;
      }
    }
  }
  .footer {
    display: flex;
    justify-content: center;
    &_container {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      & > div {
        display: flex;
        flex-direction: column;
        & > ol {
          display: flex;
          align-items: center;
          flex-direction: column;
        }
      }
    }
  }
  .more {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_titel {
      &_container {
        max-width: 1600px;
        width: 89%;
        display: flex;
        justify-content: flex-start;
      }
      & > p {
        padding: 10px 0;
        font-size: 14px;
        color: $blue-color;
        font-weight: 700;
      }
      & > span {
        font-size: 30px;
        font-weight: 700;
        background: linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    &_blocks {
      max-width: 1600px;
      width: 100%;
      display: flex;
      justify-content: center;

      gap: 30px;
    }
    &_block {
      max-width: 315px;
      width: 100%;

      &_full {
        max-width: 315px;
      }
      &_text {
        padding-top: 210px;
        & > span,
        div,
        p {
          padding: 15px 0;
        }
        & > span {
          color: $grey-color;
          font-size: 12px;
          font-weight: 700;
        }
        & > p {
          border-top: $grey-bg solid 4px;
        }
        & > div {
          color: $blue-color;
          font-weight: 700;
        }
      }
    }
  }
}
